{{content.field_banner}}

    <section id="blog" class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 co-sm-12 col-xs-12">
                    <div class="blog-box">
                        <div class="hovereffect blogimage wow fadeInUp" data-wow-delay="0.3s">
                             {{content.field_image}}
                <div class="tags"><span><i class="fa fa-calendar-o"></i> {{ node.created.value|date("M d Y")  }}</span></div>
                        </div>
                        <div class="blog-caption wow fadeInDown" data-wow-delay="0.5s">
                            <h3>{{ node.title.value }}</h3>
                            <ul class="grid">
                                <li><span><i class="fa fa-user-circle-o"></i>
                                    {{ node.Owner.name.value }}</span></li>
                                <li><span><i class="fa fa-calendar-o"></i>{{ node.created.value|date("d F Y")  }}</span></li>
                                <li><span><i class="fa fa-tags"></i>{{content.field_tag}}</span></li>
                            </ul>
                            {{ content.body }}
                        </div>
                        {{ content.comment }}
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 co-sm-12 col-xs-12">
                    <div class="sidebar">
                        {{content.field_views}}                       
                    </div>
                </div>
                
            </div>
        </div>
    </section> 